/****** Resets and Shared ******/
div {
  position: relative;
  margin: 0;  
}

div div {
  background-color: #A2C838;  
}

.torso, 
.left-leg, 
.right-leg {
  -webkit-border-radius: 0 0 37px 37px; 
     -moz-border-radius: 0 0 37px 37px; 
       -o-border-radius: 0 0 37px 37px; 
          border-radius: 0 0 37px 37px;   
}

/****** Outer Wrapper ******/
.outer-wrapper {
  margin: auto;
  margin-top: 100px;
  width: 480px;
  height: 530px;
}

/****** Head ******/
.head-wrapper {
  height: 120px;
  width: 300px;
  overflow: hidden;
  margin: auto;
  background-color: #FFF;
} 

.head {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

/****** Eyes ******/
.left-eye, 
.right-eye {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 40px;
  background-color: #FFF;
}

.left-eye {
  left: 165px;  
}

.right-eye {
  right: 165px;
}

/****** Arms ******/
.arm {
  width: 70px;
  height: 200px;
  float: left;
  margin-top: 15px;
  -webkit-border-radius: 37px;  
     -moz-border-radius: 37px;  
       -o-border-radius: 37px;  
          border-radius: 37px;  
}

/****** Torso ******/
.torso {
  width: 300px;
  height: 280px;
  margin: 20px;
  float: left;
}

/****** Legs ******/
.left-leg, 
.right-leg {
  width: 70px;
  height: 110px;
  position: absolute;
  top: 420px;
}

.left-leg {
  left: 130px;
}

.right-leg {
  right: 130px;
}

/****** Antennas ******/
.left-antenna, 
.right-antenna {
  height: 75px;
  width: 10px;
  position: absolute;
  top: -30px;
  -webkit-border-radius: 5px; 
     -moz-border-radius: 5px;
       -o-border-radius: 5px;     
          border-radius: 5px;   
}

.left-antenna {
  -webkit-transform: rotate(-35deg);
       -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
       -o-transform: rotate(-35deg);
          transform: rotate(-35deg);
  left: 130px;
}

.right-antenna {
  -webkit-transform: rotate(35deg);
     -moz-transform: rotate(35deg); 
      -ms-transform: rotate(35deg);
       -o-transform: rotate(35deg); 
          transform: rotate(35deg);
  right: 130px;
}